<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<title>K-Means Educational Demonstration</title>
	<link rel="stylesheet" href="../static/style.css">
</head>

<body>
	<header>
		<h1>Welcome to K-Means Educational Demonstration Project</h1>
		<h3>
			<p>	
			    Uncover the power of clustering algorithms with our interactive showcase. 
                K-Means, a versatile and widely used algorithm in the field of unsupervised learning, is at the heart of this educational experience.
			</p>
			<p>
				Explore how K-Means effectively groups data points based on similarities, providing a hands-on understanding of clustering in action. 
                Whether you're a student, educator, or data enthusiast, this project offers a user-friendly interface to witness the magic of K-Means in real-time.
			</p>
            <p>
				Here are some important hints. You can also download the dataset at 
                <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vRk1SBjhH5ULFN-dziqSoG1_SrkY7arpAwwa1lp3V4CwIF3ahZ1ss14h7xpmy_iOsfU-wSYsCcWbpJ_/pub?output=csv" target="_blank">
                    this link
                </a>.
			</p>
		</h3>
        <h5>
            <ol>
                <li>Please use the "Reset" button if you want to change the k value or restart the whole iteration process.</li>
                <li>In order to optimize your experience, please use a wide screen if possible.</li>
                <li>Once you click "Predict" at the first iteration, there is no need to adjust the centroids since centroids will be recalculated iteratively.</li>
                <li>Please ensure that all pairs of centroids have a distance greater than or equal to 20.</li>
                <li>There will be a notification if convergence occurs.</li>
                <li>The value of centroids will be rounded from integers to 1 decimal after the first iteration for accuracy improvement.</li>
                <li>No further changes will occur if you run more than 40 iterations. However, it will usually converge within 15 iterations.</li>
            </ol>
        </h5>
	</header>
    <main>
        <form action='/reset' method="post" style ='display:inline-block;' id = "f1">
            <label for="kvalues" id="kvalues">Please select the number of k (clusters) that you want to partition into</label>
				<select id="k_values" name = "kvalues">
					{% for each in all_k_values %}
						{% if each == kselected %}
                    		<option value="{{each}}" selected = "true">{{each}}</option>
                		{% else %}
                   			 <option value="{{each}}">{{each}}</option>
						{% endif %}
           			{% endfor %}
	  			</select>
            <button type="submit" id="btn1">Reset</button>
        </form>

        <form action='/predict' method="post" style ='display:inline-block;' id = "f2">
        <section>
            <div id = "begin">
            <ul>
                <li id = "groups"> </li>
                <li>Centroid for x</li>
                <li>Centroid for y</li>
            </ul>
            </div>
            <div>
            <ul>
                <li id = "groups">Group A</li>
                <li><label for="xA" id="xA"></label>
                    <div class="slidecontainer">
                    <input type="range" min="0" max="150" value="{{xA_val}}" name = "xA_val" step="{{step_size}}"
                    class="slider" id="xA_val" oninput="rangeValue_xA.innerText = this.value"> <p id="rangeValue_xA">{{xA_val}}</p>
                  </div>
                </li>
                <li><label for="yA" id="yA"></label>
                    <div class="slidecontainer">
                    <input type="range" min="0" max="150" value="{{yA_val}}" name = "yA_val" step="{{step_size}}"
                    class="slider" id="yA_val" oninput="rangeValue_yA.innerText = this.value"> <p id="rangeValue_yA">{{yA_val}}</p>
                  </div></li>
            </ul>
             </div>
            <div> 
                <ul>
                    <li id = "groups">Group B</li>
                <li><label for="xB" id="xB"></label>
                    <div class="slidecontainer">
                    <input type="range" min="0" max="150" value="{{xB_val}}" name = "xB_val" step="{{step_size}}"
                    class="slider" id="xB_val" oninput="rangeValue_xB.innerText = this.value"> <p id="rangeValue_xB">{{xB_val}}</p>
                  </div>
                </li>
                <li><label for="yB" id="yB"></label>
                    <div class="slidecontainer">
                    <input type="range" min="0" max="150" value="{{yB_val}}" name = "yB_val" step="{{step_size}}"
                    class="slider" id="yB_val" oninput="rangeValue_yB.innerText = this.value"> <p id="rangeValue_yB">{{yB_val}}</p>
                  </div></li>

            </ul>
            </div>

            <div>
                <ul>
                    <li id = "groups">Group C</li>
                <li><label for="xC" id="xC"></label>
                    <div class="slidecontainer">
                    <input type="range" min="0" max="150" value="{{xC_val}}" name = "xC_val" class="slider" step="{{step_size}}"
                    id="xC_val" oninput="rangeValue_xC.innerText = this.value" {% if kselected==2 %} disabled {% endif %}> <p id="rangeValue_xC">{{xC_val}}</p>
                  </div>
                </li>
                <li><label for="yC" id="yC"></label>
                    <div class="slidecontainer">
                    <input type="range" min="0" max="150" value="{{yC_val}}" name = "yC_val" class="slider" step="{{step_size}}"
                    id="yC_val" oninput="rangeValue_yC.innerText = this.value" {% if kselected==2 %} disabled {% endif %}> <p id="rangeValue_yC">{{yC_val}}</p>
                  </div></li>
            </ul>
            </div>

            <div>
                <ul>
                    <li id = "groups">Group D</li>
                <li><label for="xD" id="xD"></label>
                    <div class="slidecontainer">
                    <input type="range" min="0" max="150" value="{{xD_val}}" name = "xD_val" class="slider" step="{{step_size}}"
                    id="xD_val" oninput="rangeValue_xD.innerText = this.value" {% if kselected<=3 %} disabled {% endif %}> <p id="rangeValue_xD">{{xD_val}}</p>
                  </div>
                </li>
                <li><label for="yC" id="yC"></label>
                    <div class="slidecontainer">
                    <input type="range" min="0" max="150" value="{{yD_val}}" name = "yD_val" class="slider" step="{{step_size}}"
                    id="yD_val" oninput="rangeValue_yD.innerText = this.value" {% if kselected<=3 %} disabled {% endif %}> <p id="rangeValue_yD">{{yD_val}}</p>
                  </div></li>

                 </ul>
            </div>
            <div> 
                <ul>
                    <li id = "groups">Group E</li>
                    <li><label for="xE" id="xE"></label>
                        <div class="slidecontainer">
                        <input type="range" min="0" max="150" value="{{xE_val}}" name = "xE_val" class="slider" step="{{step_size}}"
                        id="xE_val" oninput="rangeValue_xE.innerText = this.value" {% if kselected<=4 %} disabled {% endif %}> <p id="rangeValue_xE">{{xE_val}}</p>
                      </div>
                    </li>
                    <li><label for="yE" id="yE"></label>
                        <div class="slidecontainer">
                        <input type="range" min="0" max="150" value="{{yE_val}}" name = "yE_val" class="slider" step="{{step_size}}"
                        id="yE_val" oninput="rangeValue_yE.innerText = this.value" {% if kselected<=4 %} disabled {% endif %}> <p id="rangeValue_yE">{{yE_val}}</p>
                      </div></li>

                </ul>
            </div>
        </section>
        <section>
            <button type="submit" id="btn2">Predict</button>
        </section>
              
        </form>
        <p id = out1>{{distance_alert}}</p> 
        <p id = out2>{{num_click_msg}}</p>
        <p id = out3>{{convergent_alert}}</p>     
        <img src="data:image/svg+xml;base64,{{plot_graph}}" alt="Seaborn Plot" class="center"> 
        <form action='/' method="post" id = "f3">
			<button type="submit" id="btn3">Clear</button>
		</form>

    </main>

</body>

<footer>Thanks for reading. I hope you enjoy!</footer>